.header-title {
    margin: 0px;
}

.header-title-text {
    color: #fff;
    transform: translateY(8px);
    margin: 0px;
}

.header-container {
    min-width: 87vw;
}

.tag {
    height: 40px;
    font-size: 18px;
    margin: 5px;
    margin-left: 50px;
}