.brand-logo {
    height: 200px;
    width: 200px;
    transform: translateY(-50px);
    margin-bottom: -120px;
}

.sidebar {
    overflow: 'auto';
    height: 'fit-content';
    min-height: '100vh';
    position: 'fixed';
    left: 0;
    top: 0;
    bottom: 0;
}